@page
@model Demo02.Pages.Productos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.producto[0].nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.producto[0].pvp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.producto[0].stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.producto[0].categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.producto[0].fecha_elaboracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.producto[0].fecha_caducidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.producto[0].descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.producto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pvp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_elaboracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_caducidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
